#编译出来的class文件
*.class
#packge file
#*.jar
*.war
*.ear

#kdff3 ignore
*.orig

#maven ignore
target/
.springBeans

#eclipse ignore
.settings/
.project
.classpath

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db